* {
    box-sizing: border-box;
}

body {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0;
  }

.general-information{
    width: 30%;
    max-width: 307px;
    margin: 5px 0px;
    position: fixed;
 }

.photo img{
    max-width: 100%;
    padding:3%;
    /* border-radius:400px; */
}

.background-information{
    width: 70%;
    margin-left: 30%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-left: solid 1px gray;
    
}

section{
    padding: 2%;
}

h1,
p{
    text-indent: 20px;
}

p{
    line-height: 20px;
}
h5{
    text-indent: 10px;
}

li{
    margin-bottom: 5px;
}


@media (max-width: 800px){
    
    .general-information{
        width: 100%; 
        max-width: 100%;
        position: static;
     }

     .background-information{
        width: 100%;
        border-left: 0;
        margin-left: 0;
        
    }

    section{
        padding: 5%;
    }

}
